{% extends 'base.html.twig' %}

{% block title %}Upload Document{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Upload Document</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Upload</button>
        {{ form_end(form) }}
    </div>
{% endblock %}